@charset "utf-8";
/* CSS Document */


html{
	overflow-x:hidden !important;
	-webkit-overflow-scrolling: touch;
}

body{
	position:relative;
	overflow-x:hidden !important;
	width:100%;
	height:100%;
	background-color: #FFFFFF;
}

.wrapper{
	width: 100%;
	overflow: hidden;
	position: relative;
}
/*======================按鈕列=============================*/
.menu_bar{
	background: url(../images/menu_bar_mob.png);
	background-size: 100%;
    width: 100%;
    height: 0;
    padding-bottom: 20%;
    position: fixed;
	overflow: hidden;
	z-index: 9997;
	bottom:0.1%;
}

.menu_bar ul{
	width: 100%;
	margin:3.5% auto 0 auto;
}

.menu_bar li{
	width:100%;
	margin-left: 1%;
}

.menu01{display: none;}
.menu02{display: none;}
.menu03{display: none;}

.menu01_mob{
	background: url(../images/menu01_mob.png);
	background-size: 100%;
	width: 30%;
	height: 0;
	padding-bottom: 14.2%;
	display: block;
	float: left;
	margin-left: 2%;
}

.menu02_mob{
	background: url(../images/menu02_mob.png);
	background-size: 100%;
	width: 30%;
	height: 0;
	padding-bottom: 14.2%;
	display: block;
	float: left;
	margin-left: 2%;
}

.menu03_mob{
	background: url(../images/menu03_mob.png);
	background-size: 100%;
	width: 30%;
	height: 0;
	padding-bottom: 14.2%;
	display: block;
	float: left;
	margin-left: 2%;
}

/*======================主視覺=============================*/
.header{
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	position: relative;
	background-image:url(../images/bg_mob.jpg);
	background-repeat:no-repeat;
	background-size:100%;
}
.cover_box {
	position:absolute;
	width:100%;
	height:0;
	padding-bottom:70%;
	background-image:url(../images/cloud_cover_mob.png);
	background-repeat:no-repeat;
	background-size:100%;
	z-index:90;
	margin-top:17%;
	}
/*人們*/
.people_box {
	width:100%;
	height:0;
	padding-bottom:80%;
	margin:auto;
	overflow:hidden;
	}
.people {
	position:relative;
	width:100%;
	height:0;
	padding-bottom:80%;
	}
.char {
	position:absolute !important;
	width: 100%;
	height:0;
	padding-bottom:80%;
	background-image:url(../images/peple_mob.png);
	background-repeat:no-repeat;
	background-size:100% auto;
	left: 0.5% !important;
	top: 0.5% !important;
	z-index:10;
	}
.bettefly01 {
	position:absolute !important;
	width: 30%;
	height:0;
	padding-bottom:28%;
	background-image:url(../images/betterfly01.png);
	background-repeat:no-repeat;
	background-size:100% auto;
	left: 85% !important;
	top: 42% !important;
	z-index:10;
	}
.bettefly02 {
	position:absolute !important;
	width: 15%;
	height:0;
	padding-bottom:17%;
	background-image:url(../images/betterfly02.png);
	background-repeat:no-repeat;
	background-size:100% auto;
	left: 81% !important;
	top: 6% !important;
	z-index:10;
	}
.bettefly03 {
	position:absolute !important;
	width: 25%;
	height:0;
	padding-bottom:30%;
	background-image:url(../images/betterfly03.png);
	background-repeat:no-repeat;
	background-size:100% auto;
	left: -2% !important;
	top: 42% !important;
	z-index:11;
	}
.logo{
	width:50%;
	height:0;
	padding-bottom:19.5%;
	background-image:url(../images/logo.png);
	background-size:100%;
	position:absolute;
	margin-top:43%;
	margin-left:25%;
	z-index:99;
	}
.title{
	width:100%;
	height:0;
	padding-bottom:30%;
	background-image:url(../images/title_mob.png);
	background-size:100%;
	position:absolute;
	margin-top:56%;
	z-index:98;
	}
.login_btn{
	width:70%;
	height:0;
	padding-bottom:16.7%;
	background-image:url(../images/login_btn.png);
	background-size:100%;
	display:block;
	position:absolute;
	margin-top:85%;
	margin-left:16%;
	z-index:97;
	}		
.login_btn_light{
	width:100%;
	height:0;
	padding-bottom:23.9%;
	background-image:url(../images/login_btn_light.png);
	background-size:100%;
	display:block;
	z-index:97;
	-webkit-animation: shine 2s infinite linear;
	   -moz-animation: shine 2s infinite linear;
	    -ms-animation: shine 2s infinite linear;
	     -o-animation: shine 2s infinite linear;
	        animation: shine 2s infinite linear;
	}	
@keyframes shine {
		0%   {opacity: 1;} 
		50%  {opacity: 0;}
		100% {opacity: 1;}
	}	
.login_btn_off{
	width:70%;
	height:0;
	padding-bottom:16.7%;
	background-image:url(../images/login_btn_off.png);
	background-size:100%;
	position:absolute;
	margin-top:85%;
	margin-left:16%;
	z-index:97;
	}
.logout_btn{
	width:70%;
	height:0;
	padding-bottom:16.7%;
	background-image:url(../images/logout_btn.png);
	background-size:100%;
	position:absolute;
	margin-top:85%;
	margin-left:16%;
	z-index:97;
	}
.down{
	width:10%;
	height: 0;
	padding-bottom: 17%;
	background-image: url("../images/down.gif");
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	z-index: 1000;
	margin-top: 104%;
	margin-left: 45%;
}
/*======================活動一=============================*/
.act1{
	background: url(../images/ev01_bg_mob.jpg)center top no-repeat;
	background-size: 100%;
	width: 100%;
	height: 0;
	padding-bottom: 140%;
	overflow: hidden;
	position:relative;
}	
.login_btn2{
	width:70%;
	height:0;
	padding-bottom:16.7%;
	background-image:url(../images/login_btn.png);
	background-size:100%;
	display:block;
	position:absolute;
	margin-top:115%;
	margin-left:16%;
	z-index:97;
	}		
.login_btn_light2{
	width:100%;
	height:0;
	padding-bottom:23.9%;
	background-image:url(../images/login_btn_light.png);
	background-size:100%;
	display:block;
	z-index:97;
	-webkit-animation: shine 2s infinite linear;
	   -moz-animation: shine 2s infinite linear;
	    -ms-animation: shine 2s infinite linear;
	     -o-animation: shine 2s infinite linear;
	        animation: shine 2s infinite linear;
	}	
@keyframes shine {
		0%   {opacity: 1;} 
		50%  {opacity: 0;}
		100% {opacity: 1;}
	}
.login_btn2_off{
	width:70%;
	height:0;
	padding-bottom:16.7%;
	background-image:url(../images/login_btn_off.png);
	background-size:100%;
	position:absolute;
	margin-top:113%;
	margin-left:16%;
	z-index:97;
	}
.fat01{display: none;}
/*======================活動二=============================*/
.act2{
	background: url(../images/ev02_bg_mob.jpg)center top no-repeat;
	background-size: 100%;
	width: 100%;
	height: 0;
	padding-bottom: 310%;
	overflow: hidden;
	position:relative;
}
.name_txt {
	width: 90%;
	height: auto;
	margin: 140% auto 0 auto;
	text-align: center;
	color: #E5195B;
	font-size: 6vw;
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
	line-height: 6.5vw;
	}
.invite_txt {
	width: 90%;
	height: auto;
	margin: 2% auto 0 auto;
	text-align: center;
	color: #970287;
	font-size: 8vw;
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
	line-height: 8.5vw;
	font-weight: bold;
	}
.frequency_txt {
	width: 90%;
	height: auto;
	margin: 0.5% auto 0 auto;
	text-align: center;
	color: #970287;
	font-size: 5vw;
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
	}
.ball{
	width:75%;
	height:0;
	padding-bottom:83%;
	background-image:url(../images/ball.png);
	background-size:100%;
	display:block;
	position:absolute;
	margin-top:2%;
	margin-left:13%;
	z-index:97;
	}		
.ball_light{
	width:100%;
	height:0;
	padding-bottom:110%;
	background-image:url(../images/ball_light.png);
	background-size:100%;
	display:block;
	z-index:97;
	-webkit-animation: shine 2s infinite linear;
	   -moz-animation: shine 2s infinite linear;
	    -ms-animation: shine 2s infinite linear;
	     -o-animation: shine 2s infinite linear;
	        animation: shine 2s infinite linear;
	}	
@keyframes shine {
		0%   {opacity: 1;} 
		50%  {opacity: 0;}
		100% {opacity: 1;}
	}
.ball_finger{
	width:22%;
	height:0;
	padding-bottom:20.3%;
	background-image:url(../images/ball_finger.png);
	background-size:100%;
	position:absolute;
	margin-top:53%;
	margin-left:76%;
	z-index:100;
	animation:ball_finger 3s infinite ;
	-webkit-animation:ball_finger 3s infinite ;
	-moz-animation:ball_finger 3s infinite ;
	-o-animation:ball_finger 3s infinite ;
	-ms-animation:ball_finger 3s infinite ;
}
@keyframes ball_finger{
	0% {
		transform: rotate(5deg);
		transform-origin: 100% 100%;
	}
	50%{
		transform: rotate(-10deg);
		transform-origin: 50% 100%;
	}
	100% {
		transform: rotate(5deg);
		transform-origin: 100% 100%;
	}
}
.point_txt {
	width: 90%;
	height: auto;
	margin: 86% auto 0 auto;
	text-align: center;
	color: #970287;
	font-size: 8vw;
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
	line-height: 8.5vw;
	font-weight: bold;
	}
.content_txt {
	width: 90%;
	height: auto;
	margin: 0.5% auto 0 auto;
	text-align: center;
	color: #970287;
	font-size: 4vw;
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
	}
.share_btn_box{
	width: 85%;
	height: 0;
	padding-bottom: 12.3%;
	margin: 5% auto 0 auto;
	}
.share_fb{
	width:45%;
	height: 0;
	padding-bottom: 13%;
	display: block;
	background-image: url("../images/share_fb.png");
	background-repeat: no-repeat;
	background-size: 100%;
	float: left;
	margin-left: 4%;
	}
.share_line{
	width:45%;
	height: 0;
	padding-bottom: 13%;
	display: block;
	background-image: url("../images/share_line.png");
	background-repeat: no-repeat;
	background-size: 100%;
	float: left;
	margin-left: 4%;
	}
.share_btn_box2_input{
	display: block;
	width:80%;
	height:0;
	padding-bottom:10%;
	background-image:url(../images/share_bg.png);
	background-repeat:no-repeat;
	background-size:100%;
	margin-left:4%;
	float: left;
	margin: 1% 0 0 11%;
	}
.share_btn_box2_input input{
	width:92%;
	height:0;
	padding-bottom:5%;
	background: transparent;
	border: none;
	font-size: 5vw;
	color: #b77f14;
	line-height:2vw;
	padding-top:6%;
	padding-left:3%;
	}
.share_btn{
	width:35%;
	height: 0;
	padding-bottom: 10.4%;
	display: block;
	background-image: url("../images/share_btn.png");
	background-repeat: no-repeat;
	background-size: 100%;
	float: left;
	margin-left: 32%;
	}

.fat02{display: none;}
	
/*======================活動三=============================*/
.act3{
	background: url(../images/ev03_bg_mob.jpg)center top no-repeat;
	background-size: 100%;
	width: 100%;
	height: 0;
	padding-bottom: 297%;
	overflow: hidden;
	position:relative;
}	
.gift01_box{
	width:85%;
	height: 0;
	padding-bottom: 32%;
	position: absolute;
	top: 5.5%;
	left: 10%;
}
.gift01_box ul{
	width:100%;
	
}
.gift01_box li{
	width:40%;
	height: 0;
	padding-bottom: 37%;
	float: left;
	margin-left: 5%;
	margin-top: 4%;
}
/*------------獎勵圖片_on---------------*/
.gift_01_on{ background-image: url("../images/gift01_on.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
.gift_02_on{ background-image: url("../images/gift02_on.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
.gift_03_on{ background-image: url("../images/gift03_on.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
.gift_04_on{ background-image: url("../images/gift04_on.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
.gift_05_on{ background-image: url("../images/gift05_on.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
.gift_06_on{ background-image: url("../images/gift06_on.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
/*------------獎勵圖片_off---------------*/
.gift_01_off{ background-image: url("../images/gift01_off.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
.gift_02_off{ background-image: url("../images/gift02_off.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
.gift_03_off{background-image: url("../images/gift03_off.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
.gift_04_off{background-image: url("../images/gift04_off.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
.gift_05_off{background-image: url("../images/gift05_off.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
.gift_06_off{ background-image: url("../images/gift06_off.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
.gift02_box{
	width:82%;
	height: 0;
	padding-bottom: 30%;
	position: absolute;
	top: 42%;
	left: 13.7%;
}
.gift_07_on{ 
	width:89%;
	height: 0;
	padding-bottom: 47%;
	float: left;
	background-image: url("../images/gift07_on.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
.gift_08_on{ 
	width:89.2%;
	height: 0;
	padding-bottom: 106%;
	float: left;
	background-image: url("../images/gift08_on.png");
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 4.7%;
}
.gift_07_off{
	width:89%;
	height: 0;
	padding-bottom: 47%;
	float: left;
	background-image: url("../images/gift07_off.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
.gift_08_off{
	width:89.2%;
	height: 0;
	padding-bottom: 106%;
	float: left;
	background-image: url("../images/gift08_off.png");
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 4.7%;
}
.notice_btn{
	width:60%;
	height:0;
	padding-bottom:14.9%;
	background-image:url(../images/notice_btn.png);
	background-repeat:no-repeat;
	background-size:100% auto;
	display:block;
	margin:253% auto 0 auto;
	}	
/*================================================================*/
/*copyright*/
.fotter{
	width:90%;
	height:0;
	padding-bottom:6%;
	background-image:url(../images/copyright.png);
	background-repeat:no-repeat;
	background-size:100%;
	margin:6% auto 0.5% auto;
	}


/*--------------------------outline----------------------------*/
/*-------------------------------------------------------------*/
.out_title{
	width:100%;
	height:0;
	padding-bottom:29%;
	background-image:url("../images/out_title_mob.png");
	background-size:100%;
	position:absolute;
	margin-top:53%;
	z-index:98;
	}
.out_act1{
	background: url(../images/out_ev01_bg_mob.jpg)center top no-repeat;
	background-size: 100%;
	width: 100%;
	height: 0;
	padding-bottom: 210%;
	overflow: hidden;
	position:relative;
}
.intv_btn{
	width:70%;
	height:0;
	padding-bottom:16.88%;
	background-image:url(../images/intv_btn.png);
	background-size:100%;
	display:block;
	position:absolute;
	margin-top:78%;
	margin-left: 16%;
	z-index:97;
	}		
.intv_btn_light{
	width:100%;
	height:0;
	padding-bottom:23.9%;
	background-image:url(../images/intv_btn_light.png);
	background-size:100%;
	display:block;
	z-index:97;
	-webkit-animation: shine 2s infinite linear;
	   -moz-animation: shine 2s infinite linear;
	    -ms-animation: shine 2s infinite linear;
	     -o-animation: shine 2s infinite linear;
	        animation: shine 2s infinite linear;
	}	
@keyframes shine {
		0%   {opacity: 1;} 
		50%  {opacity: 0;}
		100% {opacity: 1;}
	}	
.intv_btn2{
	width:70%;
	height:0;
	padding-bottom:16.88%;
	background-image:url(../images/intv_btn.png);
	background-size:100%;
	display:block;
	margin: 190% auto 0 auto;
	z-index:97;
	}		
.intv_btn2_light{
	width:100%;
	height:0;
	padding-bottom:23.9%;
	background-image:url(../images/intv_btn_light.png);
	background-size:100%;
	display:block;
	z-index:97;
	-webkit-animation: shine 2s infinite linear;
	   -moz-animation: shine 2s infinite linear;
	    -ms-animation: shine 2s infinite linear;
	     -o-animation: shine 2s infinite linear;
	        animation: shine 2s infinite linear;
	}	
@keyframes shine {
		0%   {opacity: 1;} 
		50%  {opacity: 0;}
		100% {opacity: 1;}
	}	

.out_act3{
	background: url(../images/ev03_bg_mob.jpg)center top no-repeat;
	background-size: 100%;
	width: 100%;
	height: 0;
	padding-bottom: 296%;
	overflow: hidden;
	position:relative;
}
.out_gift02_box{
	width:82%;
	height: 0;
	padding-bottom: 30%;
	position: absolute;
	top: 45%;
	left: 13.7%;
}
.out_go_btn{
	width:60%;
	height:0;
	padding-bottom:15%;
	background-image:url(../images/go_btn.png);
	background-size:100%;
	display:block;
	margin:269% 0 0 20%;
	z-index:97;
	}		
.out_go_btn_light{
	width:100%;
	height:0;
	padding-bottom:23.9%;
	background-image:url(../images/go_btn_light.png);
	background-size:100%;
	display:block;
	z-index:97;
	-webkit-animation: shine 2s infinite linear;
	   -moz-animation: shine 2s infinite linear;
	    -ms-animation: shine 2s infinite linear;
	     -o-animation: shine 2s infinite linear;
	        animation: shine 2s infinite linear;
	}	
@keyframes shine {
		0%   {opacity: 1;} 
		50%  {opacity: 0;}
		100% {opacity: 1;}
	}
.out_down{
	width:10%;
	height: 0;
	padding-bottom: 17%;
	background-image: url("../images/down.gif");
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	z-index: 1000;
	margin-top: 97%;
	margin-left: 45%;
}	
.download_btn{
	width:30%;
	height:0;
	padding-bottom:12.3%;
	background-image:url(../images/download_btn.png);
	background-size:100%;
	display:block;
	margin: -77.3% 0 0 13.1%;
	z-index:97;
	}		
.download_btn_light{
	width:100%;
	height:0;
	padding-bottom:42%;
	background-image:url(../images/download_btn_light.png);
	background-size:100%;
	display:block;
	z-index:97;
	-webkit-animation: shine 2s infinite linear;
	   -moz-animation: shine 2s infinite linear;
	    -ms-animation: shine 2s infinite linear;
	     -o-animation: shine 2s infinite linear;
	        animation: shine 2s infinite linear;
	}	
@keyframes shine {
		0%   {opacity: 1;} 
		50%  {opacity: 0;}
		100% {opacity: 1;}
	}
/*==============跳窗=====================*/
/*注意事項*/
.wrapper1{
	margin:auto;
	width:90%;
}
.pop_bg1{
	width:100%;
	height:0;
	padding-bottom:96%;
	background-image:url(../images/notice_bg_mob.png);
	background-repeat:no-repeat;
	background-size:100%;
	position: relative;
	}
.pop_bg1_txtbox {
	width: 80%;
	height: auto;
	margin: 0 auto;
	padding-top: 13%;
	color: #970287;
	font-size: 1vw;
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
	line-height: 2vw;
	}
.w1_btn_close{
	background: url(../images/pop_x.png);
	background-size: 100%;
    width: 10%;
    height: 0;
    padding-bottom: 10%;
    display: block;
    position: absolute;;
    right: 3%;
}
.btn_close{
	background: url(../images/pop_x.png);
	background-size: 100%;
    width: 10%;
    height: 0;
    padding-bottom: 10%;
    display: block;
    position: absolute;;
    right: 0%;
}
.notice_content_box{
    margin: 0% 0 0 8%;
    width: 80%;
    height: 68vw;
    overflow-y: scroll;
	position: absolute;
	top: 10.5%;
}
.notice_content {
    color: #88674f;
    display: block;
    width: 90%;
    margin: auto;
    font-size: 4vw;
    line-height: 6vw;
    padding-left: 5%;
}
.notice_content li {
	margin-top:4%;
}
.notice_content_box::-webkit-scrollbar-track {
    background-color: white;
}

.notice_content_box::-webkit-scrollbar
{
    width: 8px;
}
.notice_content_box::-webkit-scrollbar-button {
    background-color: #ff8383;
}

.notice_content_box::-webkit-scrollbar-thumb {
    background-color: #ffb9b9;
    border-radius: 8px;
}
/*獲得積分*/
.wrapper2{
	margin:auto;
	width:90%;
}
.pop_bg2{
	width:100%;
	height:0;
	padding-bottom:88%;
	background-image:url(../images/gift_notice_bg_mob.png);
	background-repeat:no-repeat;
	background-size:100%;
	}
.pop_bg2_txtbox {
	width: 90%;
	height: auto;
	padding-top: 53%;
	color: #970287;
	font-size: 8vw;
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
	line-height: 10vw;
	margin-left: 5%;
	text-align: center;
	}
.ok_btn{
	width:40%;
	height:0;
	padding-bottom:12.5%;
	background-image:url(../images/ok_btn.png);
	background-repeat:no-repeat;
	background-size:100% auto;
	display:block;
	margin:6% 0 0 8%;
	}
.again_btn{
	width:40%;
	height:0;
	padding-bottom:12.5%;
	background-image:url(../images/again_btn.png);
	background-repeat:no-repeat;
	background-size:100% auto;
	display:block;
	margin:-12.5% 0 0 54%;
	float: left;
	}
/*接受邀請*/
.wrapper3{
	margin:auto;
	width:90%;
}
.pop_bg3{
	width:100%;
	height:0;
	padding-bottom:87%;
	background-image:url(../images/gift_notice_bg_mob.png);
	background-repeat:no-repeat;
	background-size:100%;
	}
.pop_bg3_txtbox {
	width: 90%;
	height: auto;
	padding-top: 53%;
	color: #970287;
	font-size: 6vw;
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
	line-height: 14vw;
	margin-left: 5%;
	text-align: center;
	letter-spacing: -0.1em;
	}
.go_btn{
	width:50%;
	height:0;
	padding-bottom:12.5%;
	background-image:url(../images/go_btn.png);
	background-repeat:no-repeat;
	background-size:100% auto;
	display:block;
	margin:2% 0 0 25%;
	}	

/*查無角色*/
.pop_bg4{
	width:100%;
	height:0;
	padding-bottom:87%;
	background-image:url(../images/no_notice_bg_mob.png);
	background-repeat:no-repeat;
	background-size:100%;
	}

.pop_bg4_txtbox {
	width: 90%;
	height: auto;
	padding-top: 53%;
	color: #970287;
	font-size: 6vw;
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
	line-height: 14vw;
	margin-left: 5%;
	text-align: center;
	letter-spacing: -0.1em;
	}	
	
	


























